<!doctype html>
        <html lang="ru">
        <head>
        {% include 'main/header.html' %}
            <title>test</title>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <link rel="stylesheet" type="text/css" href="/static/main/css/style.css">
        </head>
        <body>
            <div class="container">
                <h1>Год Менделеева</h1>
<p>&nbsp;</p>
<p>В Государственном Кремлёвском дворце 8 февраля 2024 года состоялся торжественный вечер, посвящённый 300-летию Российской академии наук, в ходе которого Владимир Путин поздравил с праздником и вручил выдающимся учёным государственные награды Российской Федерации и премии Президента в области науки и инноваций для молодых учёных за 2023 год.</p>
<p><br>10 февраля на площадке ВДНХ в рамках выставки Десятилетия науки и технологий и Международной выставки-форума &laquo;Россия&raquo; Российское химическое общество имени Д.И. Менделеева в честь празднования 300-летия Российской академии наук под эгидой Дня российской науки представило программу празднования 190-летия Д.И. Менделеева.</p>
<p>Цель проекта &ndash; заинтересовать наукой всех! Помочь искать ответы, исследовать и открывать этот мир в компании с выдающими учеными прошлого, настоящего и будущего. Проект посвящен 300-летию со дня основания Российской академии наук и должен рассказать обществу о традициях великих открытий, о том, как развитие науки повлияет на будущее нашей страны и мира в целом.</p>
<p>&nbsp;</p>
<p>Мероприятия проекта &laquo;Года Менделеева&raquo; продолжают академические традиции проведения юбилейных мероприятий под знаком имени великого ученого Дмитрия Ивановича Менделеева, сохранения и популяризации его научного наследия как одного из величайших ученых мировой науки, ставших символом самой науки.<br>Проект направлен на реализацию проблем популяризации научных достижений отечественной науки на основе организации научно-популярных и просветительских мероприятий для широкой аудитории.</p>
<p>Задачи проекта:</p>
<p>&nbsp;</p>
<p>Для реализации цели, проект предусматривает решение следующих задач:</p>
<p>&nbsp;</p>
<p>Выявление и развитие интеллектуального и творческого потенциала школьников в проектно-исследовательской деятельности;</p>
<p>&nbsp;</p>
<p>Формирование положительного общественного мнения об ученых;<br>Популяризация науки, культуры и образования;</p>
<p>&nbsp;</p>
<p>Привлечение молодежи в науку;</p>
<p>&nbsp;</p>
<p>Консолидация молодых ученых;</p>
<p>&nbsp;</p>
<p>Содействие повышению деловой</p>
<p>&nbsp;</p>
<p>&nbsp;Квалификации и профессионализма специалистов по работе с молодёжью;</p>
<p>&nbsp;</p>
<p>Создание общего научного и технологического пространства;</p>
<p>&nbsp;</p>
<p>Демонстрация достижений отечественной науки;<br>Повышение доступности информации о достижениях и перспективах российской науки.</p>
<p>&nbsp;</p>
<p>Особое значение имеет празднование юбилея великого ученого в год 300-летия Российской академии наук.</p>
<p>&nbsp;</p>
<p>История Российской академии наук и ее достижений определяется теми открытиями гения Менделеева. История РАН также тесно связана с историей проведения менделеевских мероприятий.</p>
<p>&nbsp;</p>
<p>В частности, организатором Менделеевского съезда все годы с момента его основания в 1907 году выступала по поручению Правительства Академия наук совместно с Российским химическим обществом им. Д.И. Менделеева.</p>
<p>&nbsp;</p>
<p>История общества, созданного при участии самого Менделеева и продолжающего на протяжении более чем полуторавековой истории с момента своего основания в 1868 году, сохранять память о наследии великих ученых, также сама по себе составляет славную историю Российской академии наук. В руководстве общества всегда стояли выдающиеся ученые &ndash; члены академии наук.</p>
<p>&nbsp;</p>
<p>В 2024 году исполнилось 190 лет со дня рождения великого учёного Д.И. Менделеева и 155 лет с момента открытия им Периодического закона химических элементов.</p>
<p>&nbsp;</p>
<p>Великого химика увлекало решение самых разноплановых задач: от чисто теоретических до практических, продиктованных временем, таких как сельское хозяйство. Сельским хозяйством Д.И. Менделеев заинтересовался после того, как в 1865 г. купил небольшое имение Боблово под Клином (ныне Московская область) и поставил перед собой задачу сделать ведение хозяйства рентабельным. Тогда еще молодой профессор химии стал одним из пионеров русского сельскохозяйственного опытного дела. Его опыты были осуществлены в 1867-1869 гг. в четырех губерниях: Смоленской, Симбирской, Петербургской и Московской. В каждой точке опыты проводились специальными наблюдателями, в числе которых одно время были К.А. Тимирязев и Г.Г. Густавсон.</p>
<p>&nbsp;</p>
<p>Менделеев показал, что минеральные удобрения, в те годы, еще только начинавшие входить в широкую практику некоторых стран Западной Европы, являются при соответствующих условиях могучим средством увеличения урожаев сельскохозяйственных культур. Менделеев является одним из основоположников семенной агрохимии, предвестником идеи химизации сельского хозяйства. Благодаря его работам современная химическая наука помогает рационально использовать потенциал наших территорий и почв.</p>
<p>&nbsp;</p>
<p>Дмитрий Иванович Менделеев был не только выдающимся химиком, но и физиком, метрологом, экономистом, технологом, геологом, метеорологом, нефтяником, педагогом, воздухоплавателем, приборостроителем.</p>
<p>&nbsp;</p>
<p>План подготовки и проведения мероприятий, посвященных празднованию 190-летия Д.И. Менделеева, предусматривает проведение основных мероприятий в соответствии с устоявшейся традицией празднования менделеевских юбилеев научным сообществом на высоком уровне. Это знаковые мероприятия (в 2021 году мероприятия в ЮНЕСКО под эгидой Международной премии ЮНЕСКО-России имени Д.И. Менделеева стали также знаковым мероприятием Года науки и технологий в России). &nbsp;Уровень и статус мероприятий определяется именем великого ученого, ставшим для общественности всего мира символом самой науки, но в то же время и благодаря объединению ученых Российского химического общества имени Д.И. Менделеева, которое за свою более чем полуторавековую историю обеспечивает преемственность и непрерывность изучения, развития и популяризации научного наследия Менделеева.</p>
<p>&nbsp;</p>
<p>Каждая юбилейная дата становится этапом в истории менделеевского наследия, задает новый уровень и масштаб задач на последующее десятилетие.</p>
<p>&nbsp;</p>
<p>В год 300-летия Российской академии наук программа мероприятий под эгидой и в честь Дмитрия Ивановича Менделеева должна отразить ключевые проблемы развития современной науки и промышленности и реализовать задачи Десятилетия науки и технологий в России.</p>
<p>&nbsp;</p>
<p>Ключевым мероприятием программы всегда является самый крупный научный форум химиков в мире &ndash; Менделеевский съезд по общей и прикладной химии. В 2024 году он одновременно приурочен 190-летию Д.И. Менделеева и 300-летию Российской академии наук.<br>&laquo;На прошедшем съезде &laquo;Движение Первых&raquo; Президент России Владимир Путин еще раз подчеркнул важность работы с подрастающим поколением.</p>
<p>На это направлено и Десятилетие науки и технологий, где ряд инициатив ориентирован на работу со школьниками. Проекты Десятилетия будут поддержаны, в том числе в рамках конкурса грантов для популяризаторов науки. Также будут поддержаны проекты, рассказывающие о науке в регионах, &mdash; это одно из новых направлений конкурса. Общий объем финансирования грантов в этом году составит 513 млн рублей&raquo;, &mdash; подчеркнул вице-премьер Дмитрий Чернышенко.</p>
<p>&nbsp;</p>
<p>⠀Глава Минобрнауки Валерий Фальков отметил, что инициативы авторов знакомят граждан нашей страны с уникальными достижениями российских ученых и привлекают внимание молодых людей к науке.</p>
<p>&nbsp;</p>
<p>&laquo;Мы видим, что в обществе есть запрос на популяризацию научного знания. Ярким тому подтверждением выступает ежегодная Всероссийская премия &laquo;За верность науке&raquo;. В 2023 году самой конкурентной по числу заявок стала номинация &laquo;Научно-популярный проект года&raquo;. Эти и другие инициативы способствуют решению основных задач Десятилетия науки и технологий, объявленного Президентом России Владимиром Путиным&raquo;, &mdash; пояснил Министр.</p>  <!-- Вставляем контент -->
            </div>
            {% include 'main/events.html' %}
            {% include 'main/footer.html' %}

                    <style>
                .container {
    width: 90%; /* Ширина контейнера 90% */
    margin: 20px auto; /* Центрирование контейнера с отступами сверху и снизу */
    padding: 20px; /* Внутренние отступы */
    background-color: #f9f9f9; /* Цвет фона */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для эффекта глубины */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Анимация при наведении */
}

.container:hover {
    transform: translateY(-5px); /* Подъем контейнера при наведении */
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Увеличение тени при наведении */
                }
            </style>
        </body>
        </html>